.container {
    height: 400px;
    border: 2px solid greenyellow;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
    align-content: center;
}

.box {
    border: 1px solid brown;
    background-color: aqua;
}

#box1 {
    order: 1;
    flex-grow: 2;
}

#box2 {
    flex-shrink: 2;
    width: 80px;
}