        .c {
            border: 1px solid rgb(243, 229, 229);
            border-radius: 7px;
            width: 400px;
            height: 310px;
            padding: 15px;
            margin-left: 400px;
            margin-top: 100px;
            box-shadow: 4px 4px 4px rgb(169, 166, 166);
        }
        
        img {
            width: 400px;
            border-radius: 7px;
        }
        
        #content {
            margin: 1px;
            padding: 1px;
            font-size: 17px;
            font-weight: 400;
            font-family: Arial, Helvetica, Calibri;
        }
        
        hr {
            width: 60%;
            text-align: right;
            margin-left: 0;
        }
        
        #buy {
            margin: 0px;
            font-size: 16px;
        }
        
        span {
            margin: 0px;
            font-weight: 400;
            padding: 1px;
        }
        
        #pay {
            color: #7d13df;
        }
        
        #cost {
            color: rgb(161, 158, 158);
        }
        
        #off {
            background-color: rgb(2, 128, 2);
            border-radius: 4px;
            color: white;
        }