    body {
        background-color: yellow;
        border: 3px solid black;
        margin: 10px;
        /* padding: 20px; */
        background-image: linear-gradient(left to right, red, white);
    }
    
    img {
        border: 2px solid black;
        background-image: linear-gradient(red blue);
    }
    
    #grad {
        background-image: linear-gradient( to right, red, white);
        border: 1px solid black;
    }
    
    .p {
        color: yellow;
    }