div {
    width: 400px;
    height: 400px;
    background-image: linear-gradient(to right, red 10%, blue 20%, white);
    background-image: radial-gradient( red, pink, green);
    background-image: conic-gradient(yellow, blue, black);
}